.footer {
  background: #000;
  backdrop-filter: blur(8px);

  &__inner {
    padding: 31px 0 18px;
    max-width: 942px;
    margin: 0 auto;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  &__item-title {
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 19px;
  }

  &-item__link {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #787d82;
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &-secondary {
    text-align: center;
    color: #4c5054;

    &__text {
      margin-bottom: 11px;
    }

    &__subtext {
      font-family: "Inter";
      font-size: 14px;
      line-height: 17px;
      position: relative;

      .subtext-first__icon {
        padding-right: 21px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/copyright.svg");
          width: 12px;
          height: 12px;
          top: 3px;
          right: 3px;
        }
      }

      .subtext-second__icon {
        padding-right: 10px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/trademark.svg");
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
        }
      }

      .subtext-third__icon {
        padding-right: 13px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/registered.svg");
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

.footer__item-inner {
  display: flex;
  justify-content: space-between;

  .footer-item__links:not(:last-child) {
    margin-right: 34px;
  }
}



@media (max-width: 1000px) {
  .footer-main {
    justify-content: center;
  }

  .footer__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media (max-width: 750px) {
  .footer-main {
    flex-wrap: wrap;
  }

  .footer__item {
    text-align: center;
    width: 50%;
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .footer-item__title {
    font-size: 22px;
  }

  .footer-item__inner {
    display: block;
    .footer-item__links:not(:last-child) {
      margin-right: 0;
    }
  }
}

@media (max-width: 500px) {
  .footer-main {
    display: block;
  }

  .footer__item {
    width: 100%;
  }
}
