.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(8px);

  &__inner {
    padding: 31px 0 18px;
    max-width: 942px;
    margin: 0 auto;
  }

  &-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  &-item__title {
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-bottom: 19px;
  }

  &-item__link {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #787d82;
    li:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &-secondary {
    text-align: center;
    color: #4c5054;

    &__text {
      margin-bottom: 11px;
    }

    &__subtext {
      font-family: "Inter";
      font-size: 14px;
      line-height: 17px;
      position: relative;

      .subtext-first__icon {
        padding-right: 21px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/copyright.svg");
          width: 12px;
          height: 12px;
          top: 3px;
          right: 3px;
        }
      }

      .subtext-second__icon {
        padding-right: 10px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/trademark.svg");
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
        }
      }

      .subtext-third__icon {
        padding-right: 13px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          background-image: url("/images/svg/registered.svg");
          width: 10px;
          height: 10px;
          top: 0;
          right: 0;
        }
      }

      // &::after {
      //   content: "";
      //   background-image: url("/images/svg/registered.svg");
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   width: 12px;
      //   height: 12px;
      // }

      // span {
      //   position: relative;
      //   padding-right: 21px;

      //   &::before {
      //     content: "";
      //     background-image: url("/images/svg/copyright.svg");
      //     position: absolute;
      //     top: 0;
      //     right: 0;
      //     width: 12px;
      //     height: 12px;
      //   }
      // }
    }
  }
}

.accessoires-link {
  display: flex;
  justify-content: space-between;

  &__list:not(:first-child) {
    margin-left: 34px;
  }
}
