.app {
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
  // background-image: url("/images/backgrounds/default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  padding-top: 140px;
  position: relative;
  opacity: 0.05;
}

.main--home {
  opacity: 0.1;
  background-image: url("/images/backgrounds/homepage.jpg");
}
