.top-content {
  padding-bottom: 30px;
}

.top-content__inner {
  font-family: "Bebas Neue";
  text-transform: uppercase;
  line-height: 120%;
  color: #fff;
}

.top-content__image {
  margin-bottom: 20px;
}

.top-content__subtitle {
  letter-spacing: 1.04em;
  font-size: 14px;
}

.top-content__title {
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #fff;
}
