@include font('Jost', 'Jost-Light', '300', 'normal');
@include font('Jost', 'Jost-Regular', '400', 'normal');
@include font('Inter', 'Inter-LightItalicBETA', '300', 'normal');
@include font('Bebas Neue', 'BebasNeueRegular', '400', 'normal');
