@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "null.scss";

body {
  font-family: $fontFamily, sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #787d82;
}

.container {
  max-width: $containerWidth + 30px;
  padding: 0 15px;
  margin: 0 auto;
}
